<section class="regular">
  <h1>Accomodations</h1>
  <p>
    We will not be reserving a block of hotel rooms but if you will be joining us from out of town here are a few accomodations that we recommend.
  </p>
  <ul>
    <li>Marriott</li>
    <li>Hilton</li>
    <li>Hyatt Regency</li>
  </ul>
</section>