<section class="regular medium">
  <h1>Accomodations</h1>
  <p>
    We will NOT be reserving a block of hotel rooms, but if you will be joining us from out of town, here are a few accomodations that we recommend for you to book in advance.
  </p>
  <ul>
    <li><a href="http://www.jdvhotels.com/hotels/california/san-francisco-hotels/waterfront-hotel/"><h3>Waterfront Hotel</h3></a>
      <p class="medium">
        <a href="https://maps.google.com?daddr=10+Washington+Street+Oakland+CA+94607" target="_blank">10 Washington Street, Oakland, California 94607</a>
      </p>
      <img src="http://www.jdvhotels.com/content/uploads/2014/06/Exterior3-600x600.jpg" height="300" class="hotelpics"/>
      <p>
        The Waterfront Hotel is located near Oakland's beautiful Jack London Square and overlooks the San Francisco Bay.  You can take a ferry to San Francisco from here or a complimentary shuttle can take you to the nearest BART station.  It is also only an 8 minute drive from the wedding venue.
      </p>
    </li>
    <li><a href="http://www.marriott.com/hotels/travel/oakdt-oakland-marriott-city-center/"><h3>Oakland Marriott City Center</h3></a>
      <p class="medium">
        <a href="https://maps.google.com?daddr=1001+Broadway+Oakland+California+94607" target="_blank">1001 Broadway Oakland, California 94607</a>
      </p>
      <img src="http://cdn3.agoda.net/hotelimages/947/94718/94718_1208210842007279964_STD.jpg" class="hotelpics"/>
      <p>
        This is the closest hotel to the venue at only a 5 minute drive and is located in downtown Oakland near Chinatown.  The hotel is about 25 minutes drive from San Francisco.  It is also located close to the 12st Street Oakland City Center BART station with a 32 minute BART ride to downtown San Francisco.
      </p>
    </li>
    <li><a href="http://www.marriott.com/hotels/travel/sfobg-san-francisco-airport-marriott-waterfront/"><h3>San Francisco Airport Marriott Waterfront</h3></a>
      <p class="medium">
        <a href="https://maps.google.com?daddr=1800+Old+Bayshore+Highway+Millbrae+California+94010" target="_blank">1800 Old Bayshore Highway, Millbrae, California 94010</a>
      </p>
      <img src="http://cache.marriott.com/propertyimages/s/sfobg/sfobg_main03.jpg" height="250" class="hotelpics"/>
      <p>
        This hotel is close to where Lawrence and Helen live as well as close to the San Francisco Airport.It is about 15-20 minute drive from San Francisco and a 5 minute drive from the Millbrae BART and Caltrain stations.
      </p>
    </li>
  </ul>
</section>