<section class="regular medium">
  <h1 class="cursive">Registry</h1>
  <p>
  The biggest gift you can give us is your attendance at the celebration of our marriage, however should you wish to give a wedding gift, we would be more than happy to receive a monetary gift towards our honeymoon or savings for our future home.
  </p>
</section>