<section class="regular">
  <h1 class="cursive">Registry</h1>
  <p>
    We are registered at Crate and Barrel and Macy's, please follow the links below and thank you so much in advance!
  </p>
  <a href="#">Crate and Barrel</a><br><br>
  <a href="#">Macy's</a>
</section>