<section class="regular medium">
  <h1 class="cursive">Registry</h1>
  <p>
    The biggest gift you can give us is your attendance at the celebration of our marriage, however should you wish to give a wedding gift we have set up a small registry as well as a honeyfund for our honeymoon (location and date TBD).  Thank you so much in advance!
  </p>
  <p>
    <a href="http://www.myregistry.com/wedding-registry/Helen-Lam-Lawrence-Ma-San-Bruno-CA/870112" target="_blank">Visit the Registry</a>
  </p>
  <p>
    <a href="http://www.honeyfund.com/wedding/teamlamma" target="_blank">Visit our Honeyfund</a>
  </p>
</section>