<script>
 new WOW().init();
</script>

<section class="regular medium">

  <div class="party-sections">
    <h1 class="cursive">R.S.V.P.</h1>
    <p>
      Please Visit our RSVP page to respond to our event.  We really hope you can make it!
    </p>
    <p>
      <a href="http://teamlamma.rsvpify.com/" target="_blank">RSVP Here!</a>
    </p>
    <h3>About the Kids:</h3>
    <p>
      We love kids!  But... we'd prefer that you leave them at home for our wedding as space is limited.  If you have a little one or one you can't find a sitter for please let us know and we'll do our best to make accomodations as space becomes available.
    </p>
    <br>
    <div class="flip-container wow fadeInDown">
      <div class="polaroids rotate-right">
        <%= image_tag "helenlawrenceframe.png", {class: "polaroid-picture"} %>
        R • S • V • P
      </div>
    </div>

  </div>
</section>