<section class="regular">
  <h1 class="cursive">The Bride</h1>
    <div class="polaroids rotate-right">
      <%= image_tag "helen.jpg", {class: "polaroid-picture"} %>
      The Bride
    </div><br><br>
  <p>
    I had been living in the Bay Area for a few years and working at a company in South San Francisco when I met Lawrence...
  </p>
  <h1 class="cursive">The Groom</h1>
    <div class="polaroids rotate-left">
      <%= image_tag "lawrence.jpg", {class: "polaroid-picture"} %>
      The Groom
    </div><br><br>
  <p>
    I was a budding young attorney who had been working for only a year when I met Helen...
  </p>
  <h1 class="cursive">How We Met</h1>
  <p>
    "eHarmony works?..."
  </p>
  <p>
    We were both done with the dating scene, there weren't people for us to meet at work and meeting people at bars or clubs didn't seem like the best place to meet someone of any substance so for some reason we simultaneously decided to join an online dating site.  That site happened to be eHarmony and we also happened to join it at the exact same time!
  </p>

</section>