<section class="regular medium">
  <h1 class="cursive">The Bride</h1>
    <div class="polaroids rotate-right">
      <%= image_tag "helen.jpg", {class: "polaroid-picture"} %>
      The Bride
    </div><br><br>
  <p>
    I was born and raised in Southern California in a city called Alhambra, otherwise known as the 626.  I went to the Univeristy of California, Irvine for my undergraduate degree in Chemistry while pursuing a career in veterinary medicine.  After college, I moved to the bay area (with my Kitty Rosie) for a change of scene and shortly after I decided to make a career change to the pharmaceuticas industry.  I had been working at a pharmaceuticals company in South San Francisco when I met Lawrence....

  </p>
  <h1 class="cursive">The Groom</h1>
    <div class="polaroids rotate-left">
      <%= image_tag "lawrence.jpg", {class: "polaroid-picture"} %>
      The Groom
    </div><br><br>
  <p>
    I was a budding young attorney who had been working for only a year when I met Helen.&nbsp;&nbsp;Since then my life has changed so much and thankfully for the better.
  </p>
  <p>
    Before meeting Helen I grew up in Millbrae, CA where I met some of my best friends, most of whom will be standing next to me at the wedding as my groomsmen.  I went to University of Arizona for college and to Sacramento for law school at the University of the Pacific.
  </p>
  <p>
    I'm so thankful to be making this journey with Helen and can't wait for more exciting adventures to come.
  </p>
  <h1 class="cursive">How We Met</h1>
  <p>
    "eHarmony works?..."
  </p>
  <p>
    We both decided to try out eharmony because we had friends who met their significant others on eharmony.  It as fate that we happened to have join at the exact same time!
  </p>

</section>