<section class="regular medium">
  <h1 class="cursive">The Bride</h1>
    <div class="polaroids rotate-right">
      <%= image_tag "helen.jpg", {class: "polaroid-picture"} %>
      The Bride
    </div><br><br>
  <p>
    I had been living in the Bay Area for a few years and working at a company in South San Francisco when I met Lawrence.
  </p>
  <h1 class="cursive">The Groom</h1>
    <div class="polaroids rotate-left">
      <%= image_tag "lawrence.jpg", {class: "polaroid-picture"} %>
      The Groom
    </div><br><br>
  <p>
    I was a budding young attorney who had been working for only a year when I met Helen.&nbsp;&nbsp;Since then my life has changed so much and thankfully for the better.
  </p>
  <p>
    Before meeting Helen I grew up in Millbrae, CA where I met some of my best friends, most of whom will be standing next to me at the wedding as my groomsmen.  I went to University of Arizona for college and to Sacramento for law school at the University of the Pacific.
  </p>
  <p>
    I'm so thankful to be making this journey with Helen and can't wait for more exciting adventures to come.
  </p>
  <h1 class="cursive">How We Met</h1>
  <p>
    "eHarmony works?..."
  </p>
  <p>
    We were both done with the dating scene, there weren't people for us to meet at work and meeting people at bars or clubs didn't seem like the best place to meet someone of any substance so for some reason we simultaneously decided to join an online dating site.  That site happened to be eHarmony and we also happened to join it at the exact same time!
  </p>

</section>