<section class="regular">

  <h1 class="cursive">Ceremony and Reception</h1>
  <p>
    <h4>The Venue</h4>
  </p>
  <p>
    <b>Ceremony</b>
  </p>
  <p>
    The ceremony will be held at the Beautiful Venue at 5:00 PM.<br>
    Please arrive with lots of money on hand to give to the bride and groom<br>
  </p>
  <p>
    <h4>Cocktail Hour</h4>
  </p>
  <p>
    The cocktail hour will be at the same location
  </p>

  <p>
    <h4>Getting There</h4>
  </p>
  <p>
    <b>Coming from the San Francisco</b>
  </p>
  <p>
    - Head South on 101 towards San Jose<br>
    - Take 92 East towards Hayward and cross the San Mateo Bridge<br>
    - Take 880 South towards San Jose
  </p>

</section>