<section class="regular">

  <h1 class="cursive">The Wedding Party</h1>
  <h2>Bridal Party</h2>
  <p>
    <h4>Janet Lam - Matron of Honor</h4>
  </p>
  <p>
    Janet is not just Helen's big sister, she's also her best friend and confidant.
  </p>
  <h2>Groomsmen</h2>
  <p>
    <h4>Jonathan Hau - Best Man</h4>
  </p>
  <p>
    Jonathan has been my friend since kindergarten and we were together all the way through high school.  In many ways our relationship has transcended friendship and I consider Jon to be a brother first and foremost.  He always has supported me and been there for me through thick and thin and I wonder what I would do without a friend like him.
  </p>

</section>