<section class="regular">

  <h1 class="cursive">Ceremony and Reception</h1><br>
  <div class="party-sections">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <div class="polaroids fl-lf rotate-right">
            <%= image_tag "terrace_room.jpg", {class: "polaroid-picture"} %>
            The Terrace Room Restaurant
          </div>
        </div>
        <div class="back">
          <!-- back content -->
          <div class="polaroids fl-lf rotate-left">
            <%= image_tag "night_terrace_room.jpg", {class: "polaroid-picture"} %>
            Lake Merritt at night
          </div>
        </div>
      </div>
    </div>
    <div class="party-text fl-lf">
      <h3>The Venue</h3>
      <p>
        The wedding will be held at The Terrace Room in Oakland, California overlooking Lake Merritt
      </p>
      <p class="medium">
        <b>The Terrace Room Restauant</b><br>
        1800 Madison Street, Oakland, CA 94612
      </p>
      <h3>Ceremony and Reception</h3>
      <p>
        The ceremony will begin promptly at 5:00 PM.  There is plenty of street parking and most of the open spots will be surrounding Lake Merritt
      </p>
      <p>
        Cocktail hour and Reception will follow the ceremony at the same location.
      </p>
    </div>
  </div>
  <p>
    <h3>Getting There</h3>
  </p>
  <h4>Coming from San Francisco or North Peninsula</h4>
  <p>
    - Head East on the I-80, Bay Bridge towards Oakland.<br>
    - Take 580 East towards Hayward.<br>
    - Take the Harrison Street Exit.<br>
    - Turn Right on Harrison Street.<br>
    - Harrison will turn into Madison Street after the 19th Street intersection.<br>
    - The Terrace Room will be directly to your left after you cross 19th Street.
  </p>
  <h4>Coming from the South Peninsula</h4>
  <p>
    - From 101 take 92 East, San Mateo Bridge towards Hayward.<br>
    - Take the Exit to 880 North towards Oakland.<br>
    - Take the Oak Street Exit towards Lakeside Drive.<br>
    - Turn Right on Oak Street.<br>
    - Continue onto Lakeside Drive.<br>
    - Turn left on Madison Street.<br>
    - Terrace Room should be to your left after you turn on Madison.
  </p>
  <h4>Coming from San Jose or East Bay</h4>
  <p>
    - Take 880 North towards Oakland.<br>
    - Take the Oak Street Exit towards Lakeside Drive.<br>
    - Turn Right on Oak Street.<br>
    - Continue onto Lakeside Drive.<br>
    - Turn left on Madison Street.<br>
    - Terrace Room should be to your left after you turn on Madison.
  </p>



</section>