section {
  background-color: rgba(255,255,255,0.9);
  width: 850px;
  max-width: 90%;
  margin-top: 100px;
  padding: 40px;
  box-shadow: 5px 5px 5px #4d4d4d;
  margin-left: 15%;
}

.messages {
  width: 100%;
  margin-top: 5px;
  padding: 3%;
  /*border-top: solid thin black;*/
}

.overflow-hidden {
  overflow: scroll;
}

.party-sections {
  width: 100%;
  display: inline-block;
}

.party-text {
  max-width: 450px;
}

.modal-content {
  width: 300px;
}
/*Tablet*/
@media (max-width: 1025px) {
  section {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    padding: 5%;
  }
}
/*Mobile*/
@media (max-width: 480px) {
    section {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
      padding: 5%;
    }
    .welcome-bottom {
      margin-top: 600px;
      font-size: 0.8em;
    }
    .large {
      font-size: 1.1em;
    }
    #footer {
      margin-left: 5%
    }
    .hotelpics {
      max-width: 100%;
    }
}